.SubscribeMailChimpList__form-wrapper-widget {
  width: 100%;

  .SubscribeMailChimpList__form-wrapper {
    width: 100%;
  }

  .SubscribeMailChimpList__form-wrap {
    border: 1px solid #DCDCDC;
  }

  .SubscribeMailChimpList__form-title {
  }

  .SubscribeMailChimpList__form {
  }

  .SubscribeMailChimpList__form-fields-wrapper {
  }

  .SubscribeMailChimpList__form-input {
  }

  .SubscribeMailChimpList__form-button {
    background: #7FAD95;
    color: #fff;
  }

  .SubscribeMailChimpList__form-alerts-wrap {
  }

}